<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>編集</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render partial: 'devise/shared/error_messages' %>

        <div class="field">
          <%= f.label :last_name, '姓' %><br />
          <%= f.text_field :last_name %>
        </div>

        <div class="field">
          <%= f.label :first_name, '姓' %><br />
          <%= f.text_field :first_name %>
        </div>

        <div class="field">
          <%= f.label :email, 'メールアドレス' %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, 'パスワード' %><br />
          <%= f.label :password, '（変更する場合のみ入力してください）' %><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> 文字以上</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, 'パスワード確認' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password, '現在のパスワード' %> <br />
          <i>(変更を確認するために現在のパスワードが必要です)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "更新", class: 'btn btn-secondary' %>
        </div>
      <% end %>

      <h5>アカウントを削除</h5>

      <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除しても良いですか？" }, method: :delete, class: 'btn btn-danger' %>

      <%= link_to "戻る", root_path %>
    </div>
  </div>
</div>
