<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">ユーザー登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :last_name, '姓' %><br />
          <%= f.text_field :last_name %>
        </div>

        <div class="field">
          <%= f.label :first_name, '名' %><br />
          <%= f.text_field :first_name %>
        </div>

        <div class="field">
          <%= f.label :email, 'メールアドレス' %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, 'パスワード' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, 'パスワード確認' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "登録", id: 'user-registration-submit', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
