<!-- meta -->
<% content_for :title do %>
  <%= @church.name %> | キリスト教会マップ
<% end %>
<% content_for :keywords do %>
  <%= @church.name %>,キリスト教,教会,church,プロテスタント,地図,マップ,住所
<% end %>
<% content_for :description do %>
  <%= @church.name %>に関する詳細情報です。
<% end %>

<!-- Header -->
<div class="church-header">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To</div>
      <div class="intro-heading"><%= @church.name %></div>
      <% if user_signed_in? %>
        <div id="like-link">
          <%= render 'likes/like_links', church: @church %>
        </div>
      <% else %>
        <div id="like-link">
          <%= link_to modal_churches_path, remote: true, class: 'page-scroll btn btn-xl' do %>
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> いいね
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Likes -->
<div class="line-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <span id="like-count"><%= @church.likes.count %></span>人がいいね！といっています
      </div>
    </div>
  </div>
</div>

<!-- モーダル表示 -->
<div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Information</h2>
        <h3 class="section-subheading text-muted"><%= @church.name %>に関する情報は以下になります。</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"><%= @church.address %></h4>
      </div>
      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading"><%= @church.group.name %></h4>
      </div>
    </div>
  </div>
</section>
<section id="google-map">
  <div class="container">
    <div class='centering'></div>
    <div id="church_map"></div>
  </div>
</section>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'church_map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

<!-- コメント投稿 -->
<section id="comment-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <%= form_for @comment, url: comment_create_path(@church.id) do |f| %>

            <div class="field">
              <%= f.label :comment, 'コメント' %>
              <%= f.text_area :comment, size: '10x5', class: 'form-control' %>
            </div>

            <div class="actions">
              <%= f.submit '投稿', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- コメント一覧 -->
<div class="line-section">
  <div class="container">
    <div class="row">
      <% @church.comments.each do |comment| %>
        <div class="col-lg-12 text-center"><%= comment.comment %></div>
      <% end %>
    </div>
  </div>
</div>
