<section id="google-map">
  <div class="container">
    <div class='centering'>
      <%= search_form_for @q, url: maps_search_index_path do |f| %>
        <div class='form-custom'>
          <%= f.label :group_id_eq, '教団教派' %>
          <%= f.select :group_id_eq, options_from_collection_for_select(Group.all, :id, :name), { prompt: '選択できます', include_blank: '選択なし' }, class: 'form-control' %>
        </div>
        <div class='form-custom'>
          <%= f.label :prefecture_id_eq, '都道府県' %>
          <%= f.select :prefecture_id_eq, options_from_collection_for_select(Prefecture.all, :id, :name), { prompt: '選択できます', include_blank: '選択なし' }, class: 'form-control' %>
        </div>
        <div class='form-custom'>
          <%= f.label :name_cont, '名前' %>
          <%= f.search_field :name_cont, class: 'form-control' %>
        </div>
        <div class='form-custom'>
          <%= f.label :address_cont, '住所' %>
          <%= f.search_field :address_cont, class: 'form-control' %>
        </div>
        <%= f.submit '検索', class: 'btn btn-primary' %>
        <% if user_signed_in? %>
          <%= link_to '登録', new_church_path, class: 'btn btn-secondary' %>
        <% else %>
          <%= link_to '登録', churches_modal_path, remote: true, class: 'btn btn-secondary' %>
        <% end %>
      <% end %>
    </div>
    <div id="map"></div>
  </div>
</section>

<!-- モーダル表示 -->
<div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!-- Google Map -->
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  <% if @map_position.present? %>
    handler.getMap().setCenter({lat: <%= @map_position[:lat] %>, lng: <%= @map_position[:lng] %>});
    handler.getMap().setZoom(<%= @map_position[:zoom] %>);
  <% end %>
});
</script>
