<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>アカウント確認</h2>

      <div class="show_user">
        <div class="field">
          <%= label :user, :last_name, '姓' %><br />
          <span class="user_info"><%= @user.last_name %></span>
        </div>

        <div class="field">
          <%= label :user, :first_name, '名' %><br />
          <span class="user_info"><%= @user.first_name %></span>
        </div>


        <% if user_signed_in? && current_user.id == @user.id %>
          <div class="field">
            <%= label :user, :email, 'メールアドレス' %><br />
            <span class="user_info"><%= @user.email %></span>
          </div>

          <div class="actions">
            <%= link_to "変更", edit_user_registration_path, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
