<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>アカウント確認</h2>

      <div class="show_user">
        <div class="field">
          <%= label :user, :icon, 'アイコン' %><br />
          <%= image_tag @user.icon_url(:thumb), class: 'icon' %>
        </div>

        <!-- ローディング画面 -->
        <div class="loading js-loading">
          <%= image_tag(asset_path 'loading.gif') %>
        </div>

        <% if user_signed_in? && current_user.id == @user.id %>
          <%= form_for @user, url: upload_icon_user_path(@user.id), method: :put do |f| %>
            <div class="field">
              <span class="btn btn-primary btn-file">
                アイコン変更 <%= f.file_field :icon %>
              </span>
            </div>
          <% end %>
        <% end %>

        <div class="field">
          <%= label :user, :last_name, '姓' %><br />
          <span class="user_info"><%= @user.last_name %></span>
        </div>

        <div class="field">
          <%= label :user, :first_name, '名' %><br />
          <span class="user_info"><%= @user.first_name %></span>
        </div>


        <% if user_signed_in? && current_user.id == @user.id %>
          <div class="field">
            <%= label :user, :email, 'メールアドレス' %><br />
            <span class="user_info"><%= @user.email %></span>
          </div>

          <div class="actions">
            <%= link_to '変更', edit_user_registration_path, class: 'btn btn-primary' %>
          </div>
          <div class="actions">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-secondary element-section-small' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
